#!/usr/bin/env rc

fn dosync {
	echo disk/kfscmd $* sync
	if(disk/kfscmd $* sync)
		echo synced
	if not
		echo sync failed
}

nsdir = `{namespace}
kfs = `{ls $nsdir/kfs.*.cmd >[2]/dev/null}
switch($#kfs){
case 0
	dosync
case *
	if(test -r $nsdir/kfs.cmd)
		dosync
	for(i in $kfs)
		dosync -n `{echo $i|sed 's%'^$nsdir^'kfs.(.*).cmd%\1%'}
}
